body{
    width: 100%;
    height: 100%;
    background: url('../images/alaska-winter-wallpaper-wallpaper-4.jpg')fixed;
    background-size: cover
}
section{
    width: 50%;
    height: 350px;
    margin: auto;
    margin-top: 20%;
}
h1, p{
    color: rgb(236, 240, 241);
}
h1{
    margin-top: 4%;
    font-size: 3em;
    font-family: system-ui;
    text-align: center;
}
p{
    text-align: center;
    font-size: 2em;
    font-family: system-ui;
}
button{
    width: 30%;
    height: 20%;
    border: 0;
    border-radius: 3px;
    font-family: system-ui;
    font-size: 1.5em;
    margin-left: 35%;
    color: rgb(52, 73, 94);
    background: rgb(228, 241, 254);
}