body{
    width: 100%;
    margin: 0;
    background: url('../images/True-late-autumn.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    background: rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 15%;
    border-radius: 3px;
    box-shadow: 11px 6px 47px black;
}
form #submit{
    font-size: 1.2em;
    color: azure;
    width: 30%;
    height: 15%;
    margin: auto;
    background-color: rgba(39, 174, 96, 0.8);
}
input{
    background: rgba(255,255,255,0.4);
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    height: 10%;
    border: 0;
    border-radius: 3px;
}
h1{
    font-family: system-ui;
    color: rgb(44, 62, 80);
    margin: auto;
    margin-bottom: 0%;
}
